{# bolao/aposta/_form.html.twig #}
{{ form_errors(form) }}
{{ form_row(form.idLoteria) }}
<div class="row">
    <div class="col-12">
        {{ form_row(form.dezenasMarcar) }}
    </div>
    <div class="col-12">
        {{ form_row(form.dezenas) }}
    </div>
</div>
