{% extends 'base.html.twig' %}

{% block title %}Edit Loteria{% endblock %}

{% block body %}
    <h1>Edit Loteria</h1>

    {{ include('loteria/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_loteria_index') }}">back to list</a>

    {{ include('loteria/_delete_form.html.twig') }}
{% endblock %}
