{% extends 'base.html.twig' %}

{% block title %}New Loteria{% endblock %}

{% block body %}
    <h1>Create new Loteria</h1>

    {{ include('loteria/_form.html.twig') }}

    <a href="{{ path('app_loteria_index') }}">back to list</a>
{% endblock %}
